*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:#050505;

overflow:hidden;

font-family:'Cinzel',serif;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

color:white;

}

.background{

position:fixed;

inset:0;

background:
radial-gradient(circle at top,#4b3313,#000);

}

.intro{

position:relative;

z-index:2;

text-align:center;

animation:fadeIn 2s ease;

}

h2{

color:#D4AF37;

letter-spacing:5px;

margin-bottom:20px;

}

h1{

font-family:'Great Vibes',cursive;

font-size:80px;

font-weight:normal;

}

span{

color:#D4AF37;

}

p{

margin-top:20px;

letter-spacing:3px;

}

button{

margin-top:50px;

padding:18px 50px;

border:none;

border-radius:50px;

cursor:pointer;

background:#D4AF37;

color:#111;

font-size:18px;

font-weight:bold;

transition:.3s;

}

button:hover{

transform:scale(1.05);

box-shadow:0 0 25px gold;

}

@keyframes fadeIn{

from{

opacity:0;

transform:translateY(40px);

}

to{

opacity:1;

transform:translateY(0);

}

}
